<form id="global-effect-form">
   <label for="global-effect-text{{id}}">Effect Text</label>
   <input
       type="text"
       class="form-control global-effect-control"
       id="global-effect-text{{id}}"
   >
   <label for="global-effect-start-trigger-type{{id}}">Start Trigger Type</label>
   <input
       type="text"
       class="form-control global-effect-control"
       id="global-effect-start-trigger-type{{id}}"
   >
   <label for="global-effect-start-trigger-value{{id}}">Start Trigger Value</label>
   <input
       type="text"
       class="form-control global-effect-control"
       id="global-effect-start-trigger-value{{id}}"
   >
   <label for="global-effect-end-trigger-type{{id}}">End Trigger Type</label>
   <input
       type="text"
       class="form-control global-effect-control"
       id="global-effect-end-trigger-type{{id}}"
   >
   <label for="global-effect-end-trigger-value{{id}}">End Trigger Value</label>
   <input
       type="text"
       class="form-control global-effect-control"
       id="global-effect-end-trigger-value{{id}}"
   >
   <label for="global-effect-is-hidden{{id}}">Hidden</label>
   <input
       type="checkbox"
       class="form-control global-effect-control"
       id="global-effect-is-hidden{{id}}"
   >
</form>