<span class="hidden alert-text" id="admin-refresh">You should refresh your page</span>
<div id="admin-container" class="container" data-game="{{game_params.id}}">
    <div class="row">
            <div class="w-100">{{> clock admin=true}}</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="row border p-3 my-2">
                    <h5 class="text-center w-100">Global Events</h5>
                <ul>
                    {{#each global_events}}
                        <li class="py-1 pr-4">
                        <button 
                            type="button" 
                            class="btn btn-sm btn-primary global-event-button" 
                            data-toggle="modal" 
                            data-target="#global-event-modal"
                            data-event_text="{{effect_text}}"
                            data-start_trigger_type="{{start_trigger_type}}"
                            data-start_trigger_value="{{start_trigger_value}}"
                            data-end_trigger_type="{{end_trigger_type}}"
                            data-end_trigger_value="{{end_trigger_value}}"
                            data-is_hidden="{{is_hidden}}"
                            data-id={{id}}
                        >
                        <i class="fas fa-pen"></i>
                        </button>
                        <span>{{effect_text}}
                            {{#if is_hidden}}
                                <i class="fas fa-eye-slash"></i>
                            {{/if}}
                        </span>
                    </li>
                {{/each}}
                    <li>
                        <button 
                            type="button" 
                            class="btn btn-sm btn-primary global-event-add-button" 
                            data-toggle="modal" 
                            data-target="#global-event-add-modal"
                        >
                        <i class="fas fa-plus"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="input-group border p-3 my-2">
                        <h5 class="w-100">Update Time (minutes)</h5>
                        <input class="form-control" type="number" id="update-time-text">
                        <div class="input-group-append">
                            <button class="btn btn-primary" id="edit">Update</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group border p-3 my-2">
                        <h5 class="w-100">Change Default Time (minutes)</h5>
                        <input type="number" id="default-time-text" value="20">
                        <div class="input-group-append">    
                            <button class="btn btn-primary" id="default-time-button" type="button">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="input-group border p-3 my-2">
                        <h5 class="w-100">Update Terror Track</h5>
                        <input class="form-control" type="number" id="terror-tracker-text" value={{game_params.terror}}>
                        <div class="input-group-append">
                            <button class= "btn btn-primary" id="terror-button">Update</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group border p-3 my-2">
                        <h5 class="w-100">Riot Track</h5>
                        <input class="form-control" type="number" id="riot-tracker-text" value={{game_params.rioters}}>
                        <div class="input-group-append">
                            <button type="button" class= "btn btn-primary" id="riot-button">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                <div class="input-group border p-3 my-2">
                    <h5 class="w-100">Hide/Show Article</h5>
                    <select id="toggle-article-dropdown">
                        {{#each articles}}
                            <option value="{{id}}" data-hidden="{{is_hidden}}">{{title}}
                            {{#if is_hidden}}
                                (hidden)
                            {{/if}}
                            </option>
                        {{/each}}
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" id="toggle-article-button">Hide</button>
                    </div>
                </div>
                </div>
                    <div class="col-12 col-md-6">
                    <div class="input-group border p-3 my-2">
                        <button type="button" class="btn btn-lg btn-primary mx-auto" data-toggle="modal" data-target="#global-post-modal">
                            Create Global Post
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">

                    <!-- Button trigger modal -->
                <div class="input-group border p-3 my-2">
                    <button type="button" class="btn btn-lg btn-danger mx-auto" data-toggle="modal" data-target="#game-end-modal">
                        END GAME
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Global Post Modal -->
    <div class="modal fade" id="global-post-modal" tabindex="-1" role="dialog" aria-labelledby="global-post-Label"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="global-post-label">Create Global Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="global-post-form">
                        <label for="global-post-text">Post Text</label>
                        <textarea class="form-control global-post-control" id="global-post-text" rows=5></textarea>
                        <br />
                        <label for="global-post-text">Post Duration (minutes)</label>
                        <input class="form-control global-post-control" id="global-post-duration" type="number">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="global-post-submit-button" type="button" class="btn btn-primary" data-dismiss="modal">Send Global Post</button>
                </div>
            </div>
        </div>
    </div>

<!-- Global Event Modal -->
    <div class="modal fade" id="global-event-modal" tabindex="-1" role="dialog" aria-labelledby="global-post-Label"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="global-post-label">Edit Global Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   {{> globalEffectForm id=""}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="global-effect-submit-button" type="button" class="btn btn-primary" data-dismiss="modal" data-effect-id="-1">Update Event</button>
                </div>
            </div>
        </div>
    </div>

<!-- Global Event Add Modal -->
    <div class="modal fade" id="global-event-add-modal" tabindex="-1" role="dialog" aria-labelledby="global-post-Label"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="global-post-label">Create Global Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   {{> globalEffectForm id="add"}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="global-effect-add-submit-button" type="button" class="btn btn-primary" data-dismiss="modal" data-effect-id="-1">Update Event</button>
                </div>
            </div>
        </div>
    </div>

<!-- Game End Modal -->
<div class="modal fade" id="game-end-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">End Game</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-uppercase font-weight-bold"> This will end the current game and cannot be undone! </span>
        <span>Type "CONFIRM" to confirm</span>
        <input type="text" id="end-game-confirm-text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="end-game-confirm-button" class="btn btn-danger" data-dismiss="modal" disabled="true">End Game</button>
      </div>
    </div>
  </div>
</div>
</div>