<div>
  {{> clock}}
</div>
<div id="overview-container" class="container" data-game={{id}}>
  <div class="row">

    <div class="col-md-4 border">
      <div class="row">
        <ul>
          <li>Rioters: <span id="rioters">{{rioters}}</span></li>
          <li>Terror Level: <span id="terror">{{terror}}</span></li>
        </ul>
      </div>
      <div class="row">
      <ul id="global-effects-ul">
        {{#each global_effects}}
          {{#unless is_hidden}}
            <li>
              <span class="global-effect" data-id={{id}}>{{effect_text}}</span>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div id="article-carousel" class="carousel slide" data-ride="false" data-pause="false">
        <div class="carousel-inner">
          <div id="carousel-1" class="carousel-item active">
            <h2>Watch The Sky</h2>
          </div>
          <div id="carousel-2" class="carousel-item article-holder">
            {{> article}}
          </div>
          <div id="carousel-3" class="carousel-item article-holder">
            {{> article}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" id="modalBlast" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div id="modalBlastText" class="modal-content">

      </div>
    </div>
  </div>
  <div class="row border">
    <!--this is for scroll bar-->
    <div class="scrolling-text">
        <div class="marquee">Scrolling WTS news ticker</div>
    </div>
    </div>